div {
    color: black;
    font-size: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: fuchsia;
}

.lasa {
    color: black;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: center;
    color: fuchsia;
}

.chana {
    color: black;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.pad {
    color: black;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

#lasa {
    color: black;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

img {
    height: auto;
    width: 400px;
}

#chana {
    color: black;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#pad {
        color: black;
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
    }    

* {
    background-color: fuchsia;
}    

h3 {
    font-weight: bolder;
}